button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.min-height{
  min-height: 65px;
}

.red-text-invalid{
  color: red;

}

.btn{
  margin: 3px;
  padding: 3px 5px;
}
.btn-custom{
  width: 60px;

}




